<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href='<%= "#"+main.id.to_s %>'>
  <h4 class="panel-title"><%= link_to main.article.title, main.article.url %></h4>
  <%= link_to "既読にする", main_path(main.id), :method => "PATCH", :style => "float:right"%> 
</div>
<div id='<%=main.id.to_s %>' class="panel-collapse collapse">
  <div class="panel-body">
    <%= main.article.desc %><br/>
    <%= main.article.date %>
  </div>
</div>